{% extends 'base.html' %}
{% block content %}
<div class="col">
    <div class="card h-100" style="width: 16rem;">
        <div class="card-header">
            id: {{ article.id }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Article name: {{ article.name }}</li>
            <li class="list-group-item">Article desc: {{ article.desc }}</li>
            <li class="list-group-item">
                Article creator:
                <a href="{{ url_for('user_app.detail', user_id=user.id) }}">
                    {{ user.username }}
                </a>
            </li>
        </ul>
    </div>
</div>
<a href="{{ url_for('article_app.list') }}">
    <button type="button" class="btn btn-secondary btn-sm">
        Back to article list
    </button>
</a>
{% endblock %}