{% extends 'base.html' %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for article in article_list %}
    <div class="col">
        <div class="card h-100" style="width: 16rem;">
            <div class="card-header">
                id: <a href="{{ url_for('article_app.detail', article_id=article.id) }}">{{ article.id }}</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Article name: {{ article.name }}</li>
                <li class="list-group-item">Article desc: {{ article.desc }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}