{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h3>{{ article.title }}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">{{ article.desc }}</div>
    </div>
    <div class="row" style="padding-bottom: 10px">
        <div class="col-6">
            <div><small class="text-muted">Published {{ article.created_at.strftime('%H:%M %d %B %Y') }}</small></div>
            <div><small class="text-muted">
                by
                <a href="{{ url_for('user_app.detail', user_id=article.author.user.id) }}">
                    {{ article.author.user.first_name }} {{ article.author.user.last_name }}
                </a>
            </small>
            </div>
        </div>
        <div class="col-6">
            {% for tag in article.tags %}
            <span class="badge text-bg-light">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('article_app.list') }}">
        <button type="button" class="btn btn-secondary btn-sm">
            Back to article list
        </button>
    </a>
{% endblock %}