{% extends 'base.html' %}
{% block content %}
    <div class="card h-100" style="width: 16rem;">
        <div class="card-header">
            id: {{ user.id }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">first name: {{ user.first_name }}</li>
            <li class="list-group-item">last name: {{ user.last_name }}</li>
            <li class="list-group-item">birthday year: {{ user.birthday_year }}</li>
        </ul>
    </div>

    <a href="{{ url_for('user_app.list') }}">
        <button type="button" class="btn btn-secondary btn-sm">
            Back to user list
        </button>
    </a>
{% endblock %}