{% extends 'base.html' %}
{% block title %}
    User profile
{% endblock %}
{% block content %}
    <div class="card h-100" style="width: 16rem; margin-bottom: 15px">
        <div class="card-header">
            Email: {{ user.email }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">First name: {{ user.first_name }}</li>
            <li class="list-group-item">Last name: {{ user.last_name }}</li>
            {% if user.author %}
                <li class="list-group-item">Articles written: {{ user.author.acticles.count() }}</li>
                <li class="list-group-item">Articles:
                    {% for article in user.author.articles %}
                        <a href="{{ url_for('article_app.detail', article_id=article.id) }}">
                            {{ article.title }}
                        {% if not loop.last %},{% endif %}
                        </a>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>
    </div>

    <a href="{{ url_for('user_app.list') }}">
        <button type="button" class="btn btn-secondary btn-sm">
            Back to user list
        </button>
    </a>
{% endblock %}